In [ ]:
import numpy as np
import pandas as pd

In [ ]:
number_list = [10,20,30,40]
labels = ['w','x','y','z']

In [ ]:
number_series = pd.Series(data=number_list)

In [ ]:
type(number_series)

pandas.core.series.Series

In [ ]:
nd_array = np.array([10,20,30,40])

In [ ]:
number_nd_series = pd.Series(data = nd_array)

In [ ]:
number_nd_series

0    10
1    20
2    30
3    40
dtype: int32

In [ ]:
my_dict = {'w':10,'x':20,'y':30,'z':40}

In [ ]:
type(my_dict)

dict

In [ ]:
pd.Series(data = my_dict)

w    10
x    20
y    30
z    40
dtype: int64

In [ ]:
number_series = pd.Series(data=number_list,index=labels)

In [ ]:
number_series

w    10
x    20
y    30
z    40
dtype: int64

In [ ]:
sports1 = pd.Series([1,2,4,5], index = ['Cricket','Football','Baseball','Golf'])

In [ ]:
sports1

Cricket     1
Football    2
Baseball    4
Golf        5
dtype: int64

In [ ]:
sports1['Cricket']

1

In [ ]:
sports2 = pd.Series([1,2,5,4],index = ['Cricket','Football','Basketball','Golf'])

In [ ]:
sports2

Cricket       1
Football      2
Basketball    5
Golf          4
dtype: int64

In [ ]:
sports1 + sports2

Baseball      NaN
Basketball    NaN
Cricket       2.0
Football      4.0
Golf          9.0
dtype: float64

In [ ]:
dataframe = pd.DataFrame(np.random.randn(10,5),index='A B C D E F G H I J'.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())

In [ ]:
dataframe

     Score1    Score2    Score3    Score4    Score5
A -0.882171 -0.095061  2.625610 -1.426068  0.187746
B  1.730091  1.008379 -0.558240  0.156570 -0.295494
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825
D -0.381563  0.257768  0.404481 -1.198314  2.342570
E -1.356179 -0.827508 -0.463523  0.257998  1.177842
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493
G  0.651485  0.401506  0.193115  0.810205 -1.272691
H  0.501196 -0.395915  1.243877 -0.959738  0.708761
I -0.284304  0.165753 -1.712767  0.212682 -0.118836
J  0.854647  1.605375  0.562507  1.446787 -1.845467

In [ ]:
var = dataframe['Score3']

In [ ]:
type(var)

pandas.core.series.Series

In [ ]:
dataframe[['Score1','Score2']]

     Score1    Score2
A -0.882171 -0.095061
B  1.730091  1.008379
C -1.784861 -2.007825
D -0.381563  0.257768
E -1.356179 -0.827508
F  1.774042 -0.025552
G  0.651485  0.401506
H  0.501196 -0.395915
I -0.284304  0.165753
J  0.854647  1.605375

In [ ]:
dataframe[['Score2','Score1']]

     Score2    Score1
A -0.095061 -0.882171
B  1.008379  1.730091
C -2.007825 -1.784861
D  0.257768 -0.381563
E -0.827508 -1.356179
F -0.025552  1.774042
G  0.401506  0.651485
H -0.395915  0.501196
I  0.165753 -0.284304
J  1.605375  0.854647

In [ ]:
dataframe['Score1']

A   -0.882171
B    1.730091
C   -1.784861
D   -0.381563
E   -1.356179
F    1.774042
G    0.651485
H    0.501196
I   -0.284304
J    0.854647
Name: Score1, dtype: float64

In [ ]:
my_var = dataframe.Score1.values

In [ ]:
type(my_var)

numpy.ndarray

In [ ]:
dataframe['Score6'] = dataframe['Score1'] + dataframe['Score2']

In [ ]:
dataframe

     Score1    Score2    Score3    Score4    Score5    Score6
A -0.882171 -0.095061  2.625610 -1.426068  0.187746 -0.977232
B  1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825 -3.792686
D -0.381563  0.257768  0.404481 -1.198314  2.342570 -0.123795
E -1.356179 -0.827508 -0.463523  0.257998  1.177842 -2.183687
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490
G  0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992
H  0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281
I -0.284304  0.165753 -1.712767  0.212682 -0.118836 -0.118551
J  0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022

In [ ]:
new_df = dataframe.copy()

In [ ]:
new_df

     Score1    Score2    Score3    Score4    Score5    Score6
A -0.882171 -0.095061  2.625610 -1.426068  0.187746 -0.977232
B  1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825 -3.792686
D -0.381563  0.257768  0.404481 -1.198314  2.342570 -0.123795
E -1.356179 -0.827508 -0.463523  0.257998  1.177842 -2.183687
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490
G  0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992
H  0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281
I -0.284304  0.165753 -1.712767  0.212682 -0.118836 -0.118551
J  0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022

In [ ]:
new_df.drop('Score6',axis=1,inplace=True)

In [ ]:
new_df

     Score1    Score2    Score3    Score4    Score5
A -0.882171 -0.095061  2.625610 -1.426068  0.187746
B  1.730091  1.008379 -0.558240  0.156570 -0.295494
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825
D -0.381563  0.257768  0.404481 -1.198314  2.342570
E -1.356179 -0.827508 -0.463523  0.257998  1.177842
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493
G  0.651485  0.401506  0.193115  0.810205 -1.272691
H  0.501196 -0.395915  1.243877 -0.959738  0.708761
I -0.284304  0.165753 -1.712767  0.212682 -0.118836
J  0.854647  1.605375  0.562507  1.446787 -1.845467

In [ ]:
dataframe

     Score1    Score2    Score3    Score4    Score5    Score6
A -0.882171 -0.095061  2.625610 -1.426068  0.187746 -0.977232
B  1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825 -3.792686
D -0.381563  0.257768  0.404481 -1.198314  2.342570 -0.123795
E -1.356179 -0.827508 -0.463523  0.257998  1.177842 -2.183687
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490
G  0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992
H  0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281
I -0.284304  0.165753 -1.712767  0.212682 -0.118836 -0.118551
J  0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022

In [ ]:
new_df.drop('A',axis=0,inplace=True)

In [ ]:
new_df

     Score1    Score2    Score3    Score4    Score5
B  1.730091  1.008379 -0.558240  0.156570 -0.295494
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825
D -0.381563  0.257768  0.404481 -1.198314  2.342570
E -1.356179 -0.827508 -0.463523  0.257998  1.177842
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493
G  0.651485  0.401506  0.193115  0.810205 -1.272691
H  0.501196 -0.395915  1.243877 -0.959738  0.708761
I -0.284304  0.165753 -1.712767  0.212682 -0.118836
J  0.854647  1.605375  0.562507  1.446787 -1.845467

In [ ]:
new_df.drop('Score5',axis=1)

     Score1    Score2    Score3    Score4
B  1.730091  1.008379 -0.558240  0.156570
C -1.784861 -2.007825 -1.513561  0.481401
D -0.381563  0.257768  0.404481 -1.198314
E -1.356179 -0.827508 -0.463523  0.257998
F  1.774042 -0.025552  1.582065 -0.543565
G  0.651485  0.401506  0.193115  0.810205
H  0.501196 -0.395915  1.243877 -0.959738
I -0.284304  0.165753 -1.712767  0.212682
J  0.854647  1.605375  0.562507  1.446787

In [ ]:
score_2 = dataframe[['Score2']]

In [ ]:
score_2

     Score2
A -0.095061
B  1.008379
C -2.007825
D  0.257768
E -0.827508
F -0.025552
G  0.401506
H -0.395915
I  0.165753
J  1.605375

In [ ]:
dataframe

     Score1    Score2    Score3    Score4    Score5    Score6
A -0.882171 -0.095061  2.625610 -1.426068  0.187746 -0.977232
B  1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825 -3.792686
D -0.381563  0.257768  0.404481 -1.198314  2.342570 -0.123795
E -1.356179 -0.827508 -0.463523  0.257998  1.177842 -2.183687
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490
G  0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992
H  0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281
I -0.284304  0.165753 -1.712767  0.212682 -0.118836 -0.118551
J  0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022

In [ ]:
var1 = dataframe.loc['F']

In [ ]:
type(var1)

pandas.core.series.Series

In [ ]:
dataframe.iloc[2]

Score1   -1.784861
Score2   -2.007825
Score3   -1.513561
Score4    0.481401
Score5   -1.073825
Score6   -3.792686
Name: C, dtype: float64

In [ ]:
var3 = dataframe.loc['A','Score1']

In [ ]:
type(var3)

numpy.float64

In [ ]:
var2 = dataframe.loc[['A','B'],['Score1','Score2']]

In [ ]:
type(var2)

pandas.core.frame.DataFrame

In [ ]:
dataframe

     Score1    Score2    Score3    Score4    Score5    Score6
A -0.882171 -0.095061  2.625610 -1.426068  0.187746 -0.977232
B  1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825 -3.792686
D -0.381563  0.257768  0.404481 -1.198314  2.342570 -0.123795
E -1.356179 -0.827508 -0.463523  0.257998  1.177842 -2.183687
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490
G  0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992
H  0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281
I -0.284304  0.165753 -1.712767  0.212682 -0.118836 -0.118551
J  0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022

In [ ]:
dataframe > 0.5

   Score1  Score2  Score3  Score4  Score5  Score6
A   False   False    True   False   False   False
B    True    True   False   False   False    True
C   False   False   False   False   False   False
D   False   False   False   False    True   False
E   False   False   False   False    True   False
F    True   False    True   False   False    True
G    True   False   False    True   False    True
H    True   False    True   False    True   False
I   False   False   False   False   False   False
J    True    True    True    True   False    True

In [ ]:
dataframe[dataframe > 0.5]

     Score1    Score2    Score3    Score4    Score5    Score6
A       NaN       NaN  2.625610       NaN       NaN       NaN
B  1.730091  1.008379       NaN       NaN       NaN  2.738470
C       NaN       NaN       NaN       NaN       NaN       NaN
D       NaN       NaN       NaN       NaN  2.342570       NaN
E       NaN       NaN       NaN       NaN  1.177842       NaN
F  1.774042       NaN  1.582065       NaN       NaN  1.748490
G  0.651485       NaN       NaN  0.810205       NaN  1.052992
H  0.501196       NaN  1.243877       NaN  0.708761       NaN
I       NaN       NaN       NaN       NaN       NaN       NaN
J  0.854647  1.605375  0.562507  1.446787       NaN  2.460022

In [ ]:
dataframe[dataframe['Score1']>0.5]

     Score1    Score2    Score3    Score4    Score5    Score6
B  1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490
G  0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992
H  0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281
J  0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022

In [ ]:
dataframe[dataframe['Score1']>0.5][['Score2','Score3']]

     Score2    Score3
B  1.008379 -0.558240
F -0.025552  1.582065
G  0.401506  0.193115
H -0.395915  1.243877
J  1.605375  0.562507

In [ ]:
dataframe

     Score1    Score2    Score3    Score4    Score5    Score6
A -0.882171 -0.095061  2.625610 -1.426068  0.187746 -0.977232
B  1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825 -3.792686
D -0.381563  0.257768  0.404481 -1.198314  2.342570 -0.123795
E -1.356179 -0.827508 -0.463523  0.257998  1.177842 -2.183687
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490
G  0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992
H  0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281
I -0.284304  0.165753 -1.712767  0.212682 -0.118836 -0.118551
J  0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022

In [ ]:
dataframe.reset_index()

  index    Score1    Score2    Score3    Score4    Score5    Score6
0     A -0.882171 -0.095061  2.625610 -1.426068  0.187746 -0.977232
1     B  1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470
2     C -1.784861 -2.007825 -1.513561  0.481401 -1.073825 -3.792686
3     D -0.381563  0.257768  0.404481 -1.198314  2.342570 -0.123795
4     E -1.356179 -0.827508 -0.463523  0.257998  1.177842 -2.183687
5     F  1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490
6     G  0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992
7     H  0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281
8     I -0.284304  0.165753 -1.712767  0.212682 -0.118836 -0.118551
9     J  0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022

In [ ]:
new_index = 'IND JP CAN GE IT RUS FRN USA UAE UK'.split()

In [ ]:
dataframe['Countries'] = new_index

In [ ]:
dataframe

     Score1    Score2    Score3    Score4    Score5    Score6 Countries
A -0.882171 -0.095061  2.625610 -1.426068  0.187746 -0.977232       IND
B  1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470        JP
C -1.784861 -2.007825 -1.513561  0.481401 -1.073825 -3.792686       CAN
D -0.381563  0.257768  0.404481 -1.198314  2.342570 -0.123795        GE
E -1.356179 -0.827508 -0.463523  0.257998  1.177842 -2.183687        IT
F  1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490       RUS
G  0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992       FRN
H  0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281       USA
I -0.284304  0.165753 -1.712767  0.212682 -0.118836 -0.118551       UAE
J  0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022        UK

In [ ]:
dataframe.set_index('Countries',inplace=True)

In [ ]:
dataframe

             Score1    Score2    Score3    Score4    Score5    Score6
Countries
IND       -0.882171 -0.095061  2.625610 -1.426068  0.187746 -0.977232
JP         1.730091  1.008379 -0.558240  0.156570 -0.295494  2.738470
CAN       -1.784861 -2.007825 -1.513561  0.481401 -1.073825 -3.792686
GE        -0.381563  0.257768  0.404481 -1.198314  2.342570 -0.123795
IT        -1.356179 -0.827508 -0.463523  0.257998  1.177842 -2.183687
RUS        1.774042 -0.025552  1.582065 -0.543565 -0.123493  1.748490
FRN        0.651485  0.401506  0.193115  0.810205 -1.272691  1.052992
USA        0.501196 -0.395915  1.243877 -0.959738  0.708761  0.105281
UAE       -0.284304  0.165753 -1.712767  0.212682 -0.118836 -0.118551
UK         0.854647  1.605375  0.562507  1.446787 -1.845467  2.460022

In [ ]:
dataframe.loc['IND']

Score1   -0.882171
Score2   -0.095061
Score3    2.625610
Score4   -1.426068
Score5    0.187746
Score6   -0.977232
Name: IND, dtype: float64